@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-hover {
  @apply hover:bg-secondary-600 hover:border-secondary-600 transition-all cursor-pointer;
}
.non-scrollable::-webkit-scrollbar {
  display: none;
}
.non-scrollable {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
